/* GLOBAL FIX FOR IFRAME + RESPONSIVE LAYOUT */
html, body {
  height: auto;
  min-height: 100%;
  width: 100%;        /* <-- important for responsive grid */
  max-width: 100%;    /* prevents grid from stretching */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents sideways scrolling */
  overflow-y: visible !important;
   font-family: 'Roboto', sans-serif;
}
